
@font-face {
  font-family: 'Buenard-Bold';
  src: url('Buenard-Bold.eot?#iefix') format('embedded-opentype'),  url('Buenard-Bold.woff') format('woff'), url('Buenard-Bold.ttf')  format('truetype'), url('Buenard-Bold.svg#Buenard-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
