._ {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

._-bax {
    width: 31px;
    height: 55px;
    background-position: -5px -5px;
}

._-clock {
    width: 45px;
    height: 46px;
    background-position: -46px -5px;
}

._-hat {
    width: 62px;
    height: 44px;
    background-position: -101px -5px;
}

._-hip {
    width: 47px;
    height: 47px;
    background-position: -173px -5px;
}

._-roc {
    width: 50px;
    height: 51px;
    background-position: -230px -5px;
}

._-setting {
    width: 47px;
    height: 48px;
    background-position: -290px -5px;
}
