
@font-face {
  font-family: 'TenorSans';
  src: url('TenorSans.eot?#iefix') format('embedded-opentype'),  url('TenorSans.woff') format('woff'), url('TenorSans.ttf')  format('truetype'), url('TenorSans.svg#TenorSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
